[submodule "draftsmith_flask"]
	path = draftsmith_flask
	url = https://github.com/RyanGreenup/draftsmith_flask
[submodule "draftsmith_render"]
	path = draftsmith_render
	url = https://github.com/RyanGreenup/draftsmith_render
[submodule "draftsmith_rs_api"]
	path = draftsmith_rs_api
	url = https://github.com/RyanGreenup/draftsmith_rs_api
[submodule "draftsmith_rs_py_client"]
	path = draftsmith_rs_py_client
	url = https://github.com/RyanGreenup/draftsmith_rs_py_client
[submodule "draftsmith_axum_web-app"]
	path = draftsmith_axum_web-app
	url = https://github.com/RyanGreenup/draftsmith_axum_web-app
[submodule "draftsmith_textual"]
	path = draftsmith_textual
	url = https://github.com/RyanGreenup/draftsmith_textual
